@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/keyframes" as *;

.button-link {
  color: $white;
  background-color: $nitro-blue;
  border: none;
  cursor: pointer;
  padding: 0.5125rem 1.225rem;
  margin: 1.45rem 0;
  font-size: 1.125rem;
  width: 6.25rem;
  height: auto;
  position: relative;
  text-decoration: none;
  transition: background-color 0.3s;

  &::before {
    content: "";
    border: 0.125rem solid $graphite;
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    pointer-events: none;
    transition: transform 0.3s;
  }

  &:active::before {
    transform: translate(0.25rem, 0.25rem);
  }

  &:hover {
    background-color: $button-hover;
  }
}
.new-size {
  width: 9.375rem;
}

.header {
  background-color: $nitro-pink;
}

.hero {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

  .coffee-intro {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: $nitro-pink;
    margin-top: 1.25rem;
    margin-left: 20px;

    &__left-child {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 60%;
      padding: 1rem;
      margin: 1rem;

      h1 {
        margin-bottom: 0.625rem;
      }
    }

    &__detail {
      width: 50%;
    }

    &__right-child {
      flex: 1;
      max-width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* PRODUCT SECTION */

.product-section {
  text-align: center;
  padding: 1.25rem;

  &__card-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1.25rem;
    background-color: $light-gray;
    margin-bottom: 1.25rem;
  }

  &__card {
    background-color: $white;
    border-radius: 0.625rem;
    width: 20.625rem;
    height: 27.5rem;
    margin: 1.25rem;
    box-shadow: 0 0.3125rem 0.5625rem -0.0625rem $black-box-shadow;
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 6.25rem;
    margin: auto;
  }

  &__info {
    background-color: $nitro-pink;
    padding: 1.25rem;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  &__card-title {
    font-size: 33px;
    font-weight: 300;
    color: $graphite;
    text-align: left;
    margin: 0;
  }

  &__card-description {
    color: $graphite;
    text-align: left;
    margin: 0;
    font-size: 0.9375rem;
    color: $gray;
  }

  &__price {
    font-size: 25px;
    color: $nitro-blue;

    &--bold {
      font-weight: bold;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* UNIQUE SECTION */

.unique-section {
  display: flex;
  justify-content: flex-start;
  background-color: $white;
  padding: 1.25rem;
  margin-top: 2.5rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50rem;
    margin: 0 auto;
    padding-left: 3rem;
  }

  &__title {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
  }

  &__description {
    width: 65%;
  }

  &__button {
    margin-top: 1.5rem;
  }

  &__learn-more {
    background: $nitro-blue;
    color: $white;
    font-family: sans-serif;
    padding: 0.75rem 1.5rem;
    position: relative;
    text-align: center;
    height: 6.25rem;
    width: auto;
    text-decoration: none;
    transition: background-color 0.3s;

    &::before {
      content: "";
      border: 0.125rem solid $graphite;
      position: absolute;
      top: -0.25rem;
      left: -0.25rem;
      right: 0.25rem;
      bottom: 0.25rem;
      transition: transform 0.3s;
    }

    &:active::before {
      transform: translate(0.25rem, 0.25rem);
    }

    &:hover {
      background-color: $button-hover;
    }
  }

  &__image {
    display: flex;
    min-width: 25rem;
    max-width: 25rem;
    background-image: url("../assets/images/coldbrewbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 3rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -1.25rem;
      right: 1.25rem;
      bottom: 1.25rem;
      left: -1.25rem;
      border: 0.25rem solid $nitro-blue;
    }

    &:hover img {
      animation: spin-infinite 2s linear infinite;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin-top: 3.125rem;
      margin-bottom: 3.125rem;
    }
  }

  &__icons {
    align-items: flex-start;
    margin-top: 1rem;
    align-items: center;
  }

  &__icon {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 9.375rem;
    margin-bottom: 1.25rem;
  }
}

/* DISCOUNT SECTION*/
.discount-section {
  background-color: $white;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__message {
    background-color: $graphite;
    color: $white;
    width: 90%;
    padding: 1.25rem;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 400;
    animation: flash 2.5s ease infinite;
  }

  &__discount-code {
    font-weight: bold;
    margin-left: 0.625rem;
  }
}

/* FOOTER */

.footer {
  position: relative;
  background-color: $nitro-pink;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

  &__section {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    p {
      margin: 0;
      white-space: nowrap;
    }

    h3 {
      font-size: 2.0625rem;
      font-weight: 300;
      margin-bottom: 1.25rem;
    }
  }

  &__days-bold {
    font-weight: 700;
  }

  &__social-icons {
    display: flex;
    justify-content: left;
    margin-top: 0.625rem;

    img {
      width: 3.125rem;
      height: auto;
      margin: 0 0.3125rem;
    }
  }

  &__address {
    text-decoration: none;
    color: inherit;
  }

  &__left-image {
    position: absolute;
    top: 1.25rem;
    left: -2.5rem;
    width: 120px;
    height: auto;
    opacity: 0.25;
  }

  &__right-image {
    position: absolute;
    bottom: 0.3125rem;
    right: -2.5rem;
    width: 7.5rem;
    height: auto;
    opacity: 0.25;
  }
}


